<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>Flavors for You</h1>

<ul>
{{#each flavors }}
  <li>{{icecreams}}</li>
{{/each}}
</ul>